:root {
	--container-width: 1430px;
	--container-padding: 20px;


  --c-white: #ffffff;

  --c-black: #1b1a17;
  --c-grey: #1f1e1b;
  --c-accent: #ff8303;
  --c-passive: #a35709;
  --c-blond: #f0e3ca;
	--c-bginputs: #242320;
	--c-bgsocial: #23221F;
	--c-bglink: #2b2a27;
}


