.btn-text {
	font-size: 10px;
	font-weight: 400;

	width: 64px;
	height: 24px;
	display: inline-flex;
	align-items: center;
	justify-content: center;

	border-radius: 4px;
	border: 1px solid var(--c-passive);
	background-color: var(--c-bginputs);
	transition: border 0.17s ease-in-out, color 0.17s ease-in-out,
		background-color 0.02s ease-in-out;

	&:active {
		background-color: var(--c-black);
	}
	&:hover {
		border: 1px solid var(--c-accent);
		color: var(--c-white);
	}
}

.btn-add {
	display: inline-flex;
	align-items: center;
	justify-content: center;

	width: 70px;
	height: 70px;

	border-radius: 8px;
	border: 2px solid var(--c-accent);
	background-color: var(--c-black);

	transition: transform 0.2s ease;

	> .icon-add {
		fill: var(--c-accent);
		transition: transform 0.5s ease;
	}
	&:hover {
		background-color: var(--c-grey);
		.icon-add {
			transform: rotate(90deg);
		}
	}
}

.btn-dell {
	display: inline-flex;
	align-items: center;
	justify-content: center;

	width: 32px;
	height: 32px;

	border-radius: 5px;
	border: 2px solid var(--c-passive);
	background-color: var(--c-black);

	transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;

	> .icon-dell {
		transition: fill 0.2s ease-in-out;
		fill: var(--c-passive);
		&:hover {
			fill: var(--c-accent);
		}
	}

	&:hover {
		background-color: var(--c-grey);
		border-color: var(--c-accent);
		.icon-dell {
			fill: var(--c-accent);
		}
	}
}

.btn-share {
	display: inline-flex;
	align-items: center;
	justify-content: center;

	width: 36px;
	height: 36px;

	border-radius: 6px;
	border: 1px solid var(--c-passive);
	background-color: var(--c-black);
	transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;

	> .icon-share {
		transition: fill 0.2s ease-in-out;
		fill: var(--c-icon);
		&:hover {
			fill: var(--c-accent);
		}
	}

	&:hover {
		background-color: var(--c-grey);
		border-color: var(--c-accent);
		.icon-share {
			fill: var(--c-accent);
		}
	}
}

.btn-edit {
	display: inline-flex;
	align-items: center;
	justify-content: center;

	width: 36px;
	height: 36px;

	border-radius: 6px;
	border: 1px solid var(--c-passive);
	background-color: var(--c-black);
	transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;

	> .icon-edit {
		transition: fill 0.2s ease-in-out;
		fill: var(--c-icon);
		&:hover {
			fill: var(--c-accent);
		}
	}

	&:hover {
		background-color: var(--c-grey);
		border-color: var(--c-accent);
		.icon-edit {
			fill: var(--c-accent);
		}
	}
}
.btn-info {
	width: 36px;
	height: 36px;

	border-radius: 6px;
	border: 1px solid var(--c-passive);
	background-color: var(--c-black);

	color: var(--c-icon);
	font-weight: 700;
	line-height: 112%;
	text-align: center;
	transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out,
		color 0.2s ease-in-out;

	&:hover {
		background-color: var(--c-grey);
		border-color: var(--c-accent);
		color: var(--c-accent);
	}
}

.btn-social {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 46px;
	height: 46px;

	border-radius: 50%;
	border: 2px solid var(--c-bgsocial);
	background-color: var(--c-bgsocial);
	transition: border 0.2s ease-in-out;

	> .social-icons {
		transition: fill 0.2s ease-in-out;
		fill: var(--c-icon);
		&:hover {
			fill: var(--c-accent);
		}
	}
	&:hover {
		border: 2px solid var(--c-accent);
		> .social-icons {
			fill: var(--c-accent);
		}
	}
}
